@model List<GuestResponse>
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Responses </title>
</head>
<body>
    <h1> List of All Responses </h1>

        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> Attending</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (Model[i].WillAttend == true)
                    {
                        <tr>
                            <td> @Model[i].Name</td>
                            <td> @Model[i].Email</td>
                            <td> @Model[i].Phone</td>
                            <td> @Model[i].WillAttend</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
</body>
</html>
